# fly.toml app configuration file for role-play production
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'role-play'
primary_region = 'cdg'
console_command = '/code/manage.py shell'

[build]

[deploy]
release_command = 'doppler run -- uv run poe prod-deploy'

[processes]
app = "doppler run -- uv run poe prod-run"

[env]
PORT = '8000'
DJANGO_SETTINGS_MODULE = "role_play.settings.prod_fly"

[http_service]
internal_port = 8000
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[checks]
  [checks.health]
    grace_period = "10s"
    interval = "30s"
    method = "GET"
    path = "/health/"
    port = 8000
    timeout = "5s"
    type = "http"

[[vm]]
size = "shared-cpu-2x"
memory = "512mb"
processes = ["app"]

[[statics]]
guest_path = '/code/staticfiles'
url_prefix = '/static/'
