[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
django = "~=4.2"
django-fsm = "*"
gunicorn = "*"
whitenoise = "*"
psycopg = {extras = ["binary"], version = "*"}
django-coverage-plugin = "*"
channels = "*"
daphne = "*"

[dev-packages]
black = "*"
coverage = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
