[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = "*"
channels-redis = "*"
daphne = "*"
dj-database-url = "*"
django = "~=4.2"
django-fsm = "*"
gunicorn = "*"
psycopg = {extras = ["binary"], version = "*"}

[dev-packages]
black = "*"
coverage = "*"
django-coverage-plugin = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
