{% extends 'base.html' %}

{% block content %}
    <div class="rpgui-container framed">
        <h1 id="title" class="title">{{ room.game }}</h1>
        <div class="rpgui-center">
            <a href={% url 'game' room.game.id %}>- Return to the game -</a>
        </div>
        <p>
            <label>Chat:</label>
            <textarea id="chat"></textarea><br>
        </p>
        <p>
            <label>Message:</label>
            <input id="chat-message-input" type="text" size="100"><br>
        </p>
        <div class="rpgui-center">
            <button id="chat-message-submit" class="rpgui-button" type="submit"><p>Send</p></button>
        </div>

        <script>
            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/chat/'
                + {{ room.id }}
                + '/'
            );

            chatSocket.onmessage = function(event) {
                const data = JSON.parse(event.data);
                document.querySelector('#chat').value += (data.message + '\n');
            };

            chatSocket.onclose = function(event) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function(event) {
                if (event.key === 'Enter') {
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function(event) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'message': message
                }));
                messageInputDom.value = '';
            };
        </script>
    </div>
{% endblock %}
