<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}egraba's role-play{% endblock %}</title>
        {% load static %}
        <link href={% static 'dist/rpgui.min.css' %} rel="stylesheet" type="text/css" >
        <script src={% static "dist/rpgui.min.js" %}></script>
        <link href={% static 'roleplay.css' %} rel="stylesheet" type="text/css" >
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="rpgui-content">{% block content %}{% endblock%}</div>
    </body>
</html>
