{% extends 'base.html' %}

{% block content %}
    <div class="form rpgui-container framed-golden">
        <h1>Password reset</h1>
        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
        <form method="post">
            {% csrf_token %}
            {% if form.email.errors %}
                {{ form.email.errors }}
            {% endif %}
            <p>{{ form.email }}</p>
            <div class="rpgui-center">
                <div class="rpgui-center">
                    <button class="rpgui-button" type="submit"><p>Reset password</p></button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
