.rpgui-content {
    background: #222;
    overflow-y: scroll;
}

.rpgui-content .title {
    font-size: x-large;
}

.rpgui-container.framed {
    margin: 2em;
    position: static;
}

.rpgui-container.framed-golden {
    margin: 2em;
    position: static;
}

.rpgui-container.framed-golden-2 {
    margin: 2em;
    position: static;
}

table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

.character.rpgui-container.framed-grey {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
}

.form.rpgui-container.framed-golden, .info.rpgui-container.framed-golden {
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
}

.inner {
    width: 50%;
    margin-left: 25%;
}

.inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skull {
    width: 150px;
    height: auto;
    float: right;
    margin-top: 1em;
    margin-bottom: 1em;
}

.wizard {
    height: auto;
    float: left;
    margin-right: 1em;
}

#tale, #instruction {
    min-height: 120px;
}

ul.errorlist {
    list-style: none;
}
