.rpgui-content {
    background: #222;
    overflow-y: scroll;
}

.rpgui-content .title {
    font-size: x-large;
}

.center.rpgui-container.framed {
    position: static;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.rpgui-container.framed {
    margin: 2em;
}

.menu {
    float: left;
}

.login-menu {
    float: right;
}

hr {
    clear: both;
}

.login {
    width: 20%;
    margin-top: 10%;
    margin-left: 40%;
}

.inner {
    width: 50%;
    margin-left: 25%;
}

.action {
    width: 50em;
    margin-left: 25em;
}