.rpgui-content {
    background: #222;
    overflow-y: scroll;
}

.rpgui-content .title {
    font-size: x-large;
}

.rpgui-container.framed {
    margin: 2em;
    position: static;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.character.rpgui-container.framed-grey {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
}

.form {
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
}

.inner {
    width: 50%;
    margin-left: 25%;
}

.action {
    width: 50em;
    margin-left: 25em;
}
