body {
    background-color: antiquewhite;
    text-align: center;
    font-family: cursive;
}

table {
    border-style: solid;
    border-color: brown;
    border-width: thin;
    background-color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

span {
    font-weight: bold;
}

nav {
    position: absolute;
    top: 1em;
    left: 1em;
}

.character {
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
}

.action_request {
    border: none;
    padding-left: 0em;
}

.action_character { 
    text-align: left;
    padding-left: 0em;
    padding-right: 2em;
}

.action_icon { 
    text-align: right;
    padding-left: 2em;
    padding-right: 0em;
}