{% extends 'base.html' %}

{% block head %}
  {{ wizard.form.media }}
{% endblock %}

{% block content %}
  <div class="form rpgui-container framed-golden">
    <h1>New character</h1>
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <form action="" method="post">
      {% csrf_token %}
      <table>
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
          {{ wizard.form.management_form }}
          {% for form in wizard.form.forms %}
            {{ form.as_table }}
          {% endfor %}
        {% else %}
          {{ wizard.form }}
        {% endif %}
      </table>
      <div class="rpgui-center">
        {% if wizard.steps.prev %}
          <button name="wizard_goto_step" class="rpgui-button" type="submit" value="{{ wizard.steps.prev }}"><p>Previous step</p></button>
        {% endif %}
        <button class="rpgui-button" type="submit"><p>Submit</p></button>
      </div>
    </form>
  </div>
{% endblock %}
