{% extends 'base.html' %}

{% block content %}
    <div class="form rpgui-container framed-golden">
        <h1>{{ game }}</h1>
        <p>Are you sure to add the following character?</p>
        <div class="rpgui-container framed-grey">
            <p>Name: {{ character }}</p>
            <p>Race: {{ character.get_race_display }}</p>
            <p>XP: {{ character.xp }}</p>
        </div>
        <div class="rpgui-center inline">
            <form method="post">
                {% csrf_token %}
                <button class="rpgui-button" type="submit"><p>Yes</p></button>
            </form>
            <a href={% url 'game' game.id %}><button class="rpgui-button"><p>No</p></button></a>
        </div>
    </div>
{% endblock%}
