{% extends 'base.html' %}

{% block content %}
    <div class="rpgui-container framed">
        <h1 class="title">{{ character }}</h1>
        <div class="rpgui-center">
            <a href={% url 'index' %}>- Return to main menu -</a>
        </div>

        <hr class="golden"/>

        <p>Race: {{ character.get_race_display }}</p>
        <p>XP: {{ character.xp }}</p>
        <p>HP: {{ character.hp }} / {{ character.max_hp }}</p>

        <hr/>

        {% if character.game %}
            <p>Ongoing game: <a href={% url 'game' character.game.id %}>{{ character.game }}</p>
        {% else %}
            <p>This character is not part of a game...</p>
        {% endif %}

    </div>
{% endblock%}
