{% extends 'base.html' %}

{% block content %}
    <div class="rpgui-container framed">
        <h1 class="title">{{ character }}</h1>
        <div class="rpgui-center">
            <a href={% url 'index' %}>- Return to main menu -</a>
        </div>

        <hr class="golden"/>

        <div class="rpgui-container framed-grey">
            <p>Race: {{ character.get_race_display }}</p>
            <p>XP: {{ character.xp }}</p>
            <p>HP: {{ character.hp }} / {{ character.max_hp }}</p>
        </div>
    </div>
{% endblock%}
