<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>egraba's role-play</title>
  </head>
  <body>
    <h1>{{ game_id }}</h1>
    {% if character_list %}
        <p>Characters:</p>
        <ul>
            {% for character in character_list %}
                <li>{{ character }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No characters for this game...</p>
    {% endif %}

    {% if narrative_list %}
        <p>Story:</p>
        <ul>
            {% for narrative in narrative_list %}
                <li>{{ narrative }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>The story did not start yet...</p>
    {% endif %}
  </body>
</html>
