<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>egraba's role-play</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'game/style.css' %}">
  </head>
  <body>
    <h1>{{ game }}</h1>
    <h2>Characters</h2>
    {% if character_list %}
        <table class="character_list">
            <tr>
                {% for character in character_list %}
                <td>
                    <table class="character">
                        <td>
                            <tr><td><span>{{ character.name }}</span></td></tr>
                            <tr><td>Race:</td><td>{{ character.get_race_display }}</td></tr>
                            <tr><td>Age:</td><td>{{ character.age }}</td></tr>
                            <tr><td>XP:</td><td>{{ character.xp }}</td></tr>
                            <tr><td>HP:</td><td>{{ character.hp }} / {{ character.max_hp }}</td></tr>
                        </td>
                    </table>
                <td>
                {% endfor %}
            </tr>
        </table>
    {% else %}
        <p>No characters for this game...</p>
    {% endif %}

    <h2>Story</h2>
    {% if narrative_list or action_request_list %}
        <table>
            {% for narrative in narrative_list %}
                <tr>
                    <td>{{ narrative.date }}</td>
                </tr>
                <tr>
                    <td>{{ narrative.message }}</td>
                </tr>
                {% for action_request in action_request_list %}
                    {% if action_request.id == narrative.id %}
                        <tr>
                            <td>
                                <table class="action_request">
                                    <tr>
                                        <td class = "action_character">{{ action_request.character }}</td>
                                        <td class = "action_icon">
                                            {% if action_request.action_type == 'C' %}
                                                &#10067;
                                            {% elif action_request.action_type == 'D' %}
                                                &#127922;
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    {% else %}
        <p>The story did not start yet...</p>
    {% endif %}
  </body>
</html>
