{% extends 'base.html' %}

{% block content %}
    <div class="rpgui-container framed">
        <h1 id="title" class="title">Role play</h1>

        <hr class="golden"/>

        <h2>List of games</h2>
        <table class="rpgui-container framed-grey">
            {% if page_obj %}
                <tr>
                    <th><p>Name</p></th>
                    <th><p>Master</p></th>
                    <th><p>Status</p></th>
                    <th><p>Number of players</p></th>
                    <th><p>Start date</p></th>
                    <th><p>End date</p></th>
                </tr>
            {% endif %}
            {% for game in page_obj %}
                <tr>
                    <td><a href={{ game.get_absolute_url }}>{{ game }}</a></td>
                    <td><p>{{ game.master }}</p></td>
                    <td><p>{{ game.get_status_display }}</p></td>
                    <td><p>{{ game.character_set.all|length }}</p></td>
                    <td><p>{{ game.start_date }}</p></td>
                    <td><p>{{ game.end_date }}</p></td>
                </tr>
            {% empty %}
                <tr><td><p>There is no game available...</p></td></tr>
            {% endfor %}
        </table>

        <div class="rpgui-center">
            {% include 'pagination.html' %}
            {% if user.is_authenticated %}
                <a href="{% url 'game-create' %}">
                    <button class="rpgui-button"><p>Create a new game</p></button>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
