{% extends 'base.html' %}

{% block content %}
    <div class="rpgui-container framed">
        <h1 id="title" class="title">Role play</h1>

        <hr class="golden"/>

        <p>Role play is an open-source virtual role playing game.</p>
        <p>It is an online version of "paper" role play games.</p>

        {% load static %}
        <img class="rpgui-icon skull" src={% static 'images/red-skull.png' %}>

        <hr style="clear:both"/>

        <div class="rpgui-center">
            {% if user.is_authenticated %}
                <p>Welcome {{ user.username }}.</p>
                <a href="{% url 'logout' %}"><button class="rpgui-button"><p>Log out</p></button></a>
            {% else %}
                <p>Please log in, if you want to play.</p>
                <a href="{% url 'login' %}"><button class="rpgui-button"><p>Log in</p></button></a>
            {% endif %}
        </div>

        {% if user.is_authenticated %}
            <hr/>

            <h1>Ongoing games</h1>
            <p>Select the game you want to join.</p>

            {% for game in page_obj %}
                <div class="rpgui-container framed-grey">
                    <h2><a href={% url 'game' game.id %}>{{ game }}</a></h2>
                    <p>Status: {{ game.get_status_display }}</p>
                    <p>
                        Start date: {{ game.start_date }},
                        End date: {{ game.end_date }}
                    </p>
                </div>
            {% empty %}
                <div class="rpgui-container framed-grey">
                    <p>No games are available...</p>
                </div>
            {% endfor %}
            <div class="rpgui-center">
                <p>
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; First</a>
                        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %}
                </p>
                {% if perms.game.add_game %}
                    <a href="{% url 'game-create' %}"><button class="rpgui-button"><p>Create a new game</p></button></a></p>
                {% endif %}
                {% if perms.game.add_character %}
                    {% if character %}
                        <a href="{% url 'character-detail' character.id %}"><button class="rpgui-button"><p>View character</p></button></a></p>
                    {% else %}
                        <a href="{% url 'character-create' %}"><button class="rpgui-button"><p>Create a new character</p></button></a></p>
                    {% endif %}
                {% endif %}
            </div>

        {% endif %}

        <hr/>

        <h1>Release notes</h1>
        <p>This game is under development...</p>
        <p>Don't hesitate to provide your feedback or suggestions, by visiting our GitHub page.</p>
        <div class="rpgui-center">
            <a href="https://github.com/egraba/role-play">
                <button class="rpgui-button" ><p>View on GitHub</p></button>
            </a>
        </div>
        <div class="rpgui-center inline">
            <img class="rpgui-icon" style="transform: scaleX(-1)" src={% static 'images/mini-skull.png' %}>
            <a href="#title">- Back to top -</a>
            <img class="rpgui-icon" src={% static 'images/mini-skull.png' %}>
        </div>
    </div>
{% endblock %}
