{% extends 'base.html' %}

{% block content %}
    <div class="action rpgui-container framed-golden">
        <h1>{{ game }}</h1>
        {% if dice_launch %}
            <p>{{ character }}, your score is: {{ dice_launch.score }}!</p>
        {% elif choice %}
            <p>{{ character }}, you made the following choice:</p>
            <p>{{ choice }}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Return to the game">
        </form>
        <div>
{% endblock%}
