{% extends 'base.html' %}

{% block content %}
    <div class="action rpgui-container framed-golden">
        <h1>{{ game }}</h1>
        {% if dice_launch %}
            <p>{{ character }}, your score is: {{ dice_launch.score }}!</p>
        {% elif choice %}
            <p>{{ character }}, you made the following choice:</p>
            <p>{{ choice }}</p>
        {% endif %}
        <a href={% url 'game' game.id %}><button class="rpgui-button" ><p>Return to the game</p></button></a>
    </div>
{% endblock%}
