{% extends 'base.html' %}

{% block content %}
    <div class="rpgui-container framed">
        <h1 class="title">{{ game }}</h1>
        <div class="rpgui-center">
            <a href={{ game.get_absolute_url }}>- Return to game -</a>
        </div>

        <hr class="golden"/>

        <h1>Available users</h1>
        <table class="rpgui-container framed-grey">
            {% if page_obj %}
                <tr>
                    <th><p>User</p></th>
                    <th><p>Character's name</p></th>
                    <th><p>Race</p></th>
                    <th><p>XP</p></th>
                </tr>
            {% endif %}
            {% for user in page_obj %}
                <tr>
                    <td><p>{{ user }}</p></td>
                    <td><a href={{ user.character.get_absolute_url }}>{{ user.character }}</a></td>
                    <td><p>{{ user.character.get_race_display }}</p></td>
                    <td><p>{{ user.character.xp }}</p></td>
                    <td>
                        <a href={% url 'game-invite-user-confirm' game.id user.id %}>
                            <button class="rpgui-button" method="post"><p>Invite</p></button>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr><td><p>There is no user available...</p></td></tr>
            {% endfor %}
        </table>

        <div class="rpgui-center">
            {% include 'pagination.html' %}
        </div>
    </div>
{% endblock%}
