{% extends 'base.html' %}

{% block content %}
    <div class="rpgui-container framed">
        <h1 id="title" class="title">Role play</h1>
        <div class="rpgui-center">
            <a href={% url 'index' %}>- Return to main menu -</a>
        </div>

        <hr class="golden"/>

        <h2>List of stories</h2>
        <table class="rpgui-container framed-grey">
            {% if page_obj %}
                <tr>
                    <th><p>Title</p></th>
                </tr>
            {% endif %}
            {% for story in page_obj %}
                <tr>
                    <td><a href={{ story.get_absolute_url }}>{{ story }}</a></td>
                </tr>
            {% empty %}
                <tr><td><p>There is no story available...</p></td></tr>
            {% endfor %}
        </table>

        <div class="rpgui-center">
            {% include 'pagination.html' %}
            <a href={% url 'story-create' %}>
                <button class="rpgui-button"><p>Create a new story</p></button>
            </a>
        </div>
    </div>
{% endblock %}
